.scrollable
{
  height:300px;
  overflow-y: scroll;
}
.selectable:hover
{
	transform:scale(1.1);
	padding:20px;
}

body
{
	background-color:rgb(67, 161, 216, 0.7);
}

h1
{
	color: black;
}

.head
{
	font-size:64px;;
}

.fish
{
	width:27vh;
}

.aspect
{
   padding-top: 56.25%; /* 1:1 Aspect Ratio */
}
   
  

iframe
{
	max-height:100%;
	height:450px;
	max-width:100%;
	width:800px; 
	border:4px solid #FEFAA6;
}





.center
{
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}





.navbar-default {
    overflow: hidden;
    background-color: rgba(0, 40, 9, 0.9);
    font-family: Arial, Helvetica, sans-serif;
	color:red;
	position:sticky;
	position: -webkit-sticky;
	top:4px;
	z-index:1;
}
.navbar-default .navbar-nav > li > a
{
    color: white;
	font-size: 17px;
}


.navbar-default .navbar-nav > li > a:hover
{
    background-color: rgba(175, 218, 255, 0.9);
    color: black;
	font-size: 17px;
	border-left:2px solid #000000;
}
	
.navbar-default .navbar-nav > .active > a {
    background-color: rgba(175, 218, 255, 0.9);
    color: black;
	font-size: 17px;
	border:2px solid #000000;
}
.navbar-default .navbar-nav > .active > a:hover {
    background-color: rgba(175, 218, 255, 0.9);
    color: black;
	font-size: 17px;
	border-right:2px solid #000000;
	border-left:2px solid #000000;
}

footer{
  width:100%;
  height:20%;
  bottom:0;
  left:0;
  text-align:left;
  padding:10px;
  margin:10px;
  color:black;
  
}
